.MarkDownPreviewer {
  height:100vh;
  overflow: hidden;
}

.InputBox {
  height:100%;
  overflow: hidden;
}

#editor {
  border: none;
  border-radius: 0;
  min-height: 83vh;
  max-height: 83vh;

  resize: none;
}

#preview {
  min-height: 83vh;
  max-height: 83vh;
  max-width: 50vw;
  min-width: 50vw;
}
