.MarkDownPreviewer {
  height:100vh;
  overflow: hidden;
}

.InputBox {
  height:100%;
  overflow: hidden;
}

.InputArea {
  border: none;
  border-radius: 0;
  min-height: 83vh;
  max-height: 83vh;
  resize: none;
}
