.MarkDownPreviewer {
  height:100vh;
  border: solid black;
  overflow: hidden;
}

.InputBox {
  height:100%;
}

.InputArea {
  border: none;
  border-radius: 0;
  height: 100%; /* Not Working */
  overflow: scroll;
}
